.main-content {
    max-width: 500px; /* Define un ancho máximo más amplio */
    margin: 0 auto; /* Centra el contenido horizontalmente */
    padding: 80px;
    background-color: #f9f9f9; /* Color de fondo suave */
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Sombra sutil */
    font-family: Arial, sans-serif;
}

h1, h2 {
    text-align: center;
    color: #333;
}

button {
    padding: 10px 15px;
    margin: 5px;
    font-size: 14px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #238ec8;
}

form {
    display: flex;
    flex-direction: column;
    gap: 15px;
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

label {
    font-weight: bold;
}

input, textarea, select {
    padding: 8px;
    font-size: 14px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

textarea {
    resize: none;
    height: 80px;
}

.anotacion-card {
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 10px;
    margin: 10px 0;
    padding: 15px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.anotacion-card p {
    margin: 5px 0;
}

.anotacion-card button {
    margin-right: 10px;
    padding: 8px 12px;
    background-color: #007bff;
    color: #fff;
    transition: background-color 0.3s ease;
}

.anotacion-card button:hover {
    background-color: #0056b3;
}

.anotacion-card button:last-child {
    background-color: #dc3545;
}

.anotacion-card button:last-child:hover {
    background-color: #c82333;
}
