.asistencias-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    background: white;
    margin: auto;
    margin-top: 100px;
    max-width: 600px;
    padding: 20px;
    border-radius: 10px;
    border-color: black;
    top: 0px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    font-family: 'Arial', sans-serif;
}

.asistencias-title {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 20px;
    text-align: center;
    color: #0056b3;
}

.asistencias-form {
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 450px;
}

.form-group {
    display: flex;
    flex-direction: column;
}

.form-label {
    margin-bottom: 5px;
    font-weight: bold;
    color: #555;
}

.form-select,
.form-input {
    max-width: 100%;
    box-sizing: border-box;
}

.alumnos-list-title {
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 10px;
    text-align: center;
}

.alumnos-table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 10px;
}

.alumnos-table th,
.alumnos-table td {
    border: 1px solid #ccc;
    padding: 10px;
    text-align: center;
}

.alumnos-table th {
    background-color: #f4f4f4;
    font-weight: bold;
}

.alumnos-table tbody tr:nth-child(even) {
    background-color: #f9f9f9;
}

.alumnos-table tbody tr:hover {
    background-color: #eef;
}

.submit-button {
    width: 100%;
    padding: 10px;
    background-color: #0056b3;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
    font-weight: bold;
}

.submit-button:hover {
    background-color: #003d80;
}

input[type='checkbox'] {
    transform: scale(1.5);
    cursor: pointer;
}

.generate-report-button {
    margin-top: 20px;
    padding: 10px 20px;
    background-color: #0056b3;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
}

.generate-report-button:hover {
    background-color: #003d80;
}

.modal-content {
    position: relative;
}
.modal-content h2 {
    margin-bottom: 20px;
}

.modal-content .form-group {
    margin-bottom: 15px;
}

.modal-content label {
    display: block;
    margin-bottom: 5px;
}

.modal-content select,
.modal-content input[type='month'] {
    width: 100%;
    padding: 8px;
    border: 1px solid #ddd;
    border-radius: 4px;
}

.modal-content button {
    margin-top: 20px;
    padding: 10px 20px;
    background-color: #0056b3;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.modal-content button:hover {
    background-color: #003d80;
}

.modal-content button:disabled {
    background-color: #cccccc;
    cursor: not-allowed;
}

.modal-close {
    position: absolute;
    top: 0px;
    right: 0px;
    background: none;
    border: none;
    font-size: 16px;
    color: #6c757d;
    cursor: pointer;
    padding: 0px 0px;
    transition: color 0.2s ease;
}
